<h1>Goma</h1>

{{ if .Failed }}
<p>Sorry, try again</p>
{{ end }}

<form method="POST">
    <label>user:</label><br />
    <input type="text" name="user"><br />
    <label>code:</label><br />
    <input type="text" name="code"><br />
    <input type="submit">
</form>